@import '../../../styles/variables.scss';
.container{
    display: flex;
    .controlContainer{
        width: 30%;
    }
    .devContainer{
        width: 30%;
        display: flex;
        justify-content: center;
    }
    .devOutTolContainer{
        width: 30%;
        display: flex;
        justify-content: center;
    }
    .iconContainer{
        width: 10%;
        display: flex;
        justify-content: flex-end;
        &.red{
            color: $abb-red;
        }
        
        &.yellow{
            color: $abb-yellow;
        }
        
        &.green{
            color: $abb-green;
        }

    }
}